{% extends "base2.html" %}

{% block body %}
    <h1>Yahoo Stock Trends</h1>

    <table>
        <tr>
            <th>Ticker</th>
            <th>1st Date</th>
            <th>1st Price</th>
            <th>2nd Date</th>
            <th>2nd Price</th>
            <th id='chart-trend-header'>Recent Trend Period</th>
            <th>Percent of<br/>Trend Range</th>
        </tr>
    {% for data in trends %}
        <tr class="row-summary row-trend" id="{{ data['ticker'] }}">
            <td class="ticker">{{ data['ticker'] }}</td>
            <td>{{ data['min_price_date'] }}</td>
            <td>{{ data['min_price'] }}</td>
            <td>{{ data['max_price_date'] }}</td>
            <td>{{ data['max_price'] }}</td>
            <td class="chart-trend"></td>
            <td>&nbsp;</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/trends.js') }}"></script>
{% endblock %}
