{% extends "base2.html" %}

{% block body %}
    <h1>Yahoo Stock Trends</h1>

    <table>
        <tr>
            <th>Ticker</th>
            <th>Min Price</th>
            <th>Max Price</th>
            <th>Current Price</th>
            <th>Recent Trend Period
                <div id='chart-trend-header'></div>
            </th>
            <th>Percent of<br/>Trend Range</th>
        </tr>
    {% for data in trends %}
        <tr class="row-summary row-trend" id="{{ data['ticker'] }}">
            <td class="ticker">{{ data['ticker'] }}</td>
            <td>{{ data['min_price'] }}</td>
            <td>{{ data['max_price'] }}</td>
            <td>{{ data['current_price'] }}</td>
            <td class="chart-trend"></td>
            <td>{{ data['pct_of_range'] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/trends.js') }}"></script>
{% endblock %}
